* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Page layout */

main {
  width: 752px;
  margin-left: auto;
  margin-right: auto;
}

/* Message box */

.message-box {
  background-color: lightblue;
  border: 5px solid #000;
}

.message-box {
  width: 400px;
  height: 150px;
  padding: 10px;

  position: absolute;
  top: 150px;
  justify-self: center;
}

.close-button {
  width: 2rem;
  height: 2rem;

  position: absolute;
  top: -1rem;
  right: -1rem;
}
