* {
  box-sizing: border-box;
}

/* De hoogte en de rand van het voorbeeld div-element instellen */
#center_example {
  height: 5em;
  border: 1px solid #000;
}

/* De tekst horizontaal en verticaal centreren
met CSS Grid. Een child-element rond de tekst 
voorzien is hierbij niet nodig.*/
.grid-center {
  display: grid;
  justify-items: center;
  align-items: center;
}

/* Plaats je oplossing hieronder */
/*********************************/

#learn-grid-container {
  display: block grid;
  gap: 0.2rem;
  grid-template: repeat(4, 5rem) / repeat(5, 5rem);
}

#learn-grid-container > div {
  display: grid;
  justify-items: center;
  align-items: center;

  background-color: cyan;
  border: 1px solid darkblue;
  color: darkblue;
  font-size: 2rem;
}

#learn-grid-container > div:nth-last-of-type(n + 4) {
  grid-row: 2;
}

#learn-grid-container > div:nth-of-type(n + 6) {
  grid-column: 4;
}
