body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightblue;
}

h1,
h2 {
  text-transform: uppercase;
  color: darkcyan;
}

ul li:nth-of-type(odd) {
  color: #f1f1f1;
}
ul li:nth-of-type(even) {
  color: gray;
}
figure:first-of-type figcaption {
  color: steelblue;
}

figure:nth-of-type(2) figcaption {
  margin-bottom: 0.5em;
}

ul {
  list-style: none;
}
