/* import Google font Roboto */
/* ************************* */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);
/* Algemeen */
/* ******** */

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #111;
  background-color: #525252;
  display: block grid;
  justify-items: center;
}

/* Stel de regelhoogte voor de paragrafen en de lijsten in op 1.5.
Zo krijgen we een beetje meer ruimte tussen de regels.*/
p,
li {
  line-height: 1.5;
}

/* Stel de kleuren in voor de paginablokken: nav en footer
    nav
      achtergrondkleur: #393939
    footer 
      achtergrondkleur: #ed1c24
      tekstkleur: wit
      */

nav {
  background-color: #393939;
}
footer {
  background-color: #ed1c24;
  color: white;
}

/* algemene opmaak voor de hyperlinks:
een rode tekstkleur en geen onderstreping */
a {
  color: #ed1c24;
  text-decoration: none;
}
/* Als er gehoverd wordt over een link 
dan moet die onderstreept worden */
a:hover {
  text-decoration: underline;
}

/* Navigatiebalk*/
/* **************/

/* Voor het nav-element:
   - stel je een groter lettertype in nl. 1.2em
   - en verwijder je de bullets bij de unordered list
   - alle hyperlinks in de navigatiebalk zijn wit
   - met uitzondering van de current link (degene
   met class current) deze is rood en niet onderstreept.
   */
nav {
  /* lettertype vergroten */
  font-size: 1.2em;
}

nav ul {
  /* bullets verwijderen */
  list-style-type: none;
}

nav a {
  /* in de navigatiebalk zijn de hyperlinks wit */
  color: white;
}

/* de current link in de navigatiebalk is rood
en niet onderstreept */
nav .current {
  color: #ed1c24;
  text-decoration: none;
}

/* Page Layout */
/**************/
header,
main,
footer {
  padding-inline: 15px;
}

header,
main {
  background-color: white;
}

header {
  padding-block: 10px;
}

.grid-container {
  display: block grid;
  grid-template-columns: 20ch 1fr;
  max-width: 960px;
  gap: 3px;
  background-color: grey;
}

header,
footer {
  grid-column: 1/3;
}

footer > p {
  margin-block: 0.5em;
}

/* Tabellen */
/************/
table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #424242;
}

/* De eerste tabelrij krijgt:
  - achtergrondkleur: #424242
  - tekstkleur: white
  */
tr:first-child th {
  background-color: #424242;
  color: white;
}

/* De tekst is in alle cellen gecentreerd */
td {
  text-align: center;
}

#over_ons {
  display: block grid;
  grid-template-columns: 1fr, min-content;
  column-gap: 10px;
}

#over_ons > aside {
  grid-column: 2;
  border-left: 1px solid grey;
  padding-inline: 7px;
}

/* Formulier */
/*************/
/* Voor de submit-knop stel je een groter 
lettertype 1.2em in en dezelfde kleuren
als bij de eerste tabel-rij:
  - achtergrondkleur: #424242
  - tekstkleur: white 
*/
input[type="submit"] {
  font-size: 1.2em;
  background-color: #424242;
  color: white;
}
