#container > * {
  border: 1px solid #000;
  padding: 10px;
}

h1,
h2,
#score,
nav {
  font-size: 2rem;
  font-weight: bold;
}

#container {
  display: block grid;
  gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  grid-template-areas:
    "header board board"
    "stats board board"
    "stats board board"
    "score nav nav";
}

@media screen and (orientation: portrait) {
  #container {
    grid-template-areas: "header stats stats" "score stats stats" "board board board" "nav nav nav";
  }
}
@media screen and (max-width: 500px) {
  #container {
    grid-template-areas: "header score score" "board board board" "nav nav nav";
  }
  #stats {
    display: none;
  }
}

header {
  grid-area: header;
}

#score {
  grid-area: score;
  display: block grid;
  align-items: center;
  justify-items: center;
}

#stats {
  grid-area: stats;
  align-self: start;
}

/* Board */
main {
  grid-area: board;
}

/* Controls */
nav {
  grid-area: nav;
  justify-self: center;
}
