* {
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: "Courier New", Courier, monospace;
  background-color: #f2dab6;
  color: #000;
}

main {
  display: block flex;
  justify-items: flex-start;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

#portrait {
  width: 100%;
  min-width: 300px;
  max-width: 100%;
}

h1 {
  max-width: 100%;
  text-align: center;
  color: #976d5d;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
}

/*Timeline*/
#timeline {
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(5, 100px);
  margin-top: 30px;
}

table {
  width: 95%;
}

tr td:first-of-type {
  font-size: xx-large;
  font-weight: bolder;
  flex-basis: 0;
  padding-right: 50px;
  color: #976d5d;
}

tr td:nth-of-type(2) {
  overflow-x: auto;
}

footer {
  color: #976d5d;
  margin-top: 4em;
}

/*Responsive layout*/
@media screen and (width >= 800px) {
  main {
    flex-wrap: nowrap;
  }
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 20px;
  }
}
