* {
  box-sizing: border-box;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
}

h1 {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

/*Tabel*/
table {
  margin: 0px 10px 10px 0px;
  width: 100%;
  border-collapse: collapse;
}
thead {
  color: white;
  background-color: #96c21f;
}

tbody {
  color: black;
}

tbody tr:nth-of-type(2n + 1) td:first-of-type {
  background-color: lightskyblue;
  width: 250px;
}

th,
td {
  border: lightgrey 2px solid;
  padding: 5px;
}

td:nth-of-type(n + 2) {
  text-align: center;
  width: auto;
}

td:nth-of-type(n + 2) {
  text-align: center;
}
td:nth-of-type(n + 2):hover {
  text-align: center;
  animation-name: wiggle;
  animation-duration: 1s;
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  15% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(6deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0);
  }
}

caption {
  color: grey;
  font-size: 1.5rem;
}

.image-container {
  display: block flex;
  gap: 5px;
}

.image-container div {
  flex: 1 0 0;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

main {
  display: block;
  min-width: 800px;
}

@media screen and (min-width: 1100px) {
  main {
    display: grid;
    grid-template-columns: minmax(800px, 1fr) 1fr;
  }
  section:first-of-type {
    column-span: 1;
  }
}

/*Formulier*/
fieldset > div {
  display: flex;
  margin: 5px 0;
}
label {
  width: 150px;
}

select {
  display: none;
}

input:checked ~ select {
  display: block;
}
