body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 24px 24px 30px 56px;
}

h1 {
  font-size: 4.5em;
  font-weight: 900;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* Gallerij */
.fotos {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: block grid;
  gap: 0.75rem;
  grid-template-columns: repeat(3, 1fr);
}

.fotos img {
  width: 100%;
}

/* Footer */
footer {
  margin-top: 84px;
}

nav {
  display: block grid;
  grid-template-columns: minmax(0, 1fr) repeat(3, 1fr 48px) 1fr minmax(0, 1fr);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

h3 {
  color: rgb(17, 17, 17);
  font-weight: 500;
}

footer a {
  color: rgb(117, 117, 117);
  text-decoration: none;
}

.box1 {
  grid-column: 2;
}
.box2 {
  grid-column: 4;
}
.box3 {
  grid-column: 6;
}
.box4 {
  grid-column: 8;
}
